@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> I can code , YAY !</p>
    <p>I'm sure I can code, For reallll</p>
    <p> We can Yebo!!</p>
    <p>Hello</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
