@{
    ViewData["Title"] = "Registration Page";
    Layout = "_Layout";
}

<div class=" main-container align-content-center">
    <div>
        <h1>REGISTRATION</h1>
    </div>

    <div>
        <span>Name</span>
        <input   type="text" name="Name" />
    </div>

    <div>
        <span>Surname</span>
        <input  type="text"  name="Surname" />
    </div>

    <div>
        <span>Staff Number</span>
        <input  type="text"  name="StaffNumber" />
    </div>

    <div>
        <span>Email</span>
        <input  type="email"  name="Email" />
    </div>

    <div>
        <span>Password</span>
        <input  type="password"  name="Password" />
    </div>

    <button>Register</button>

</div>

           