<div class="w-100 align-content-center">
    <span class="text-notice-me">Login Example</span>
</div>
<div class="row">
    <div class="col-4">
        <button class="btn bg-notice-me">Sidebar</button>
    </div>
    <div class="col">
        <h1>Contents</h1>
    </div>
</div>