@model IEnumerable<Application>

<div class="container">
    <div class="row">
        <!--This will contain the whole side bar-->
        <div class="col-4">
            @{
                string[] statuses = {"Pending", "Processing", "Processsed"};

                foreach (string status in statuses)
                {
                    <div class="navbar navbar-expand-lg navbar-light">
                        <button class="navbar-toggler" data-bs-target="@($"{status}Application")" data-bs-toogle="collapse"
                                aria-expanded="true" area-label="Toogle @status">
                            @status
                        </button>

                        <div class="navbar-collapse collapse show" id="@($"{status}Application")">
                            @foreach (var application in Model)
                            {
                                if (application.Status == null || application.Status.ToLower() != status.ToLower())
                                    continue;

                                var applicant = RESTfulClient.Instance.GET<User>($"Users/{application.Id}");
                                string info = $"{applicant.Surname} {applicant.Name}\t";

                                <button>
                                    @info <strong class="alert-dark">@application.Module</strong>
                                </button>
                            }
                        </div>
                    </div>
                }
            }
        </div>

        <!-- This will have the detailed application -->
        <div class="col-8">
        
        </div>
    </div>
</div>