@model IEnumerable<Application>

@{
    ViewData["Title"] = "Applications Review Page";
    Application Selected = null;
}

<div class="">
    <div class="row">
        <!--This will contain the whole side bar-->
        <div class="col-4">
            @{
                string[] statuses = {"Pending", "Processing", "Processsed"};

                foreach (string status in statuses)
                {
                    <div class="">
                        <button class="btn btn-primary" aria-expanded="true" area-label="Toogle @status">
                            @status
                        </button>

                        <div class="" id="@($"{status}Application")">

                            @{
                                int Applications = 0;
                            }

                            @foreach (var application in Model)
                            {
                                if (application.Status == null || application.Status.ToLower() != status.ToLower())
                                    continue;

                                var applicant = RESTfulClient.Instance.GET<User>($"Users/{application.Id}");
                                string info = $"{applicant.Surname} {applicant.Name}\t";

                                Applications++;

                                <button class="btn btn-outline-secondary" id="@($"Application{application.ApplicationId}")">
                                    @info <strong class="alert-dark">@application.Module</strong>
                                </button>
                            }

                            @if(Applications == 0)
                            {
                                <span class="">
                                    There Are No @status Applications.
                                </span>
                            }

                        </div>
                    </div>
                }
            }
        </div>

        <!-- This will have the detailed application -->
        <div class="col-8">
            @{
                if(Selected != null)
                {

                }
            }
        </div>
    </div>
</div>